<?xml version="1.0"?>
<!--
/**
 * Copyright © Konatsu.pl Robert Rupa.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="konatsu" translate="label" sortOrder="200">
            <label>Robert Rupa</label>
        </tab>
        <section id="download_tab" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Download Tab</label>
            <tab>konatsu</tab>
            <resource>RobertRupa_DownloadTab::config_download_tab</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General settings</label>
                <field id="status" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Module Status</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="api_endpoint" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Api endpoint</label>
                </field>
                <field id="additional_get_params" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Additional GET parameters</label>
                </field>
                <field id="custom_styles" translate="label" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Additional styles</label>
                </field>
            </group>
        </section>
    </system>
</config>