.download-tab.image-container:after{
    content: '';
    display: block;
    clear: both;
}
.download-tab.image-container img{
    width: 24%;
}

.download-tab.image-container img{
    float: left;
    height: 150px;
    object-fit: contain;
}